.img-zoom {
  transition: transform .2s;
}

.img-zoom:hover {
  transform: scale(2.5);
}

.dropdown-menu {
  width: 400px;
}

.bg-guideheader {
  background-color: #363636;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 500px;
  width: 800px;
}

.grid-item {
  border: 1px solid #ccc;
  overflow: hidden;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  z-index: -1;
}

.container-content {
  background-color: #1b2838;
}

.container {
  font-size: 20px;
}

body {
  background-color: #1b2838;
  font-family: 'motiva-sans', sans-serif;
}

.list-group-item {
  background-color: #1a2431;
  color: white;
}

.list-group-item:hover {
  background-color: #363636;
  color: white;
}

.list-group-item.active {
  background-color: #bd6009;
  border-color: #363636;
}

.container-content {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.822)
}

.border-custom {
  /* Cambia los colores según tus preferencias */
  border-top: 3px solid transparent;
  /* Borde superior predeterminado */
  box-shadow: 0 -5px 5px -5px rgba(190, 190, 190, 0.781);
}

.text-none {
  color: #ffffff;
}

.card-title {
  color: #ffffff;
}

.card-text {
  color: #ffffff;
}

.card {
  background-color: #1a2431;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.822)
}

.subcard {
  margin-top: -120px;
}

.link-muted {
  color: #aaa;
}

.link-muted:hover {
  color: #1266f1;
}

#comment-text {
  background-color: #1a2431;
}

.page-link {
  color: #ffffff;
  background-color: #1a2431;
  border-color: #ffffff;
  padding: 10px;
}

.page-link:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.page-link:active {
  color: #ffffff;
  background-color: #1a2431;
  border-color: #ffffff;
}

.page-link:disabled {
  color: #ffffff;
  background-color: #1a2431;
  border-color: #ffffff;
}

.card-hover:hover {
  border: 2px solid #bd6009;
  position: relative;
  z-index: 1;
  transition: border-color 0.3s ease;
}

.rem {
  padding: -100px;
}

.mt-10 {
  margin-top: 230px !important;
}

.btn-primary {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:hover {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:active {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:disabled {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:focus {
  background-color: #bd6009;
  border-color: #bd6009;
}

.modal {
  color: #000;

}

.modal-content {
  background-color: #1a2431;
  color: #ffffff;
}