.img-zoom {
  transition: transform .2s;
}

.img-zoom:hover {
  transform: scale(2.5);
}

.dropdown-menu {
  width: 400px;
}

.bg-guideheader {
  background-color: #363636;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 500px;
  width: 800px;
}

.grid-item {
  border: 1px solid #ccc;
  overflow: hidden;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  z-index: -1;
}

.container-content {
  background-color: #1b2838;
}

.container {
  font-size: 20px;
}

body {
  background-color: #1b2838;
  font-family: 'motiva-sans', sans-serif;
}

.list-group-item {
  background-color: #1a2431;
  color: white;
}

.list-group-item:hover {
  background-color: #363636;
  color: white;
}

.list-group-item.active {
  background-color: #bd6009;
  border-color: #363636;
}

.list-group-item.active:hover {
  background-color: #bd6009;
  border-color: #363636;
}

.list-group-item.active:focus {
  background-color: #bd6009;
  border-color: #363636;
}

.list-group-item.active:active {
  background-color: #bd6009;
  border-color: #363636;
}

.container-content {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.822)
}

.border-custom {
  /* Cambia los colores según tus preferencias */
  border-top: 3px solid transparent;
  /* Borde superior predeterminado */
  box-shadow: 0 -5px 5px -5px rgba(190, 190, 190, 0.781);
}

.text-none {
  color: #ffffff;
}

.card-title {
  color: #ffffff;
}

.card-text {
  color: #ffffff;
}

.card {
  background-color: #1a2431;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.822)
}

.subcard {
  margin-top: -120px;
}

.link-muted {
  color: #aaa;
}

.link-muted:hover {
  color: #1266f1;
}

#comment-text {
  background-color: #1a2431;
}

.page-link {
  color: #ffffff;
  background-color: #1a2431;
  border-color: #ffffff;
  padding: 10px;
}

.page-link:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.page-link:active {
  color: #ffffff;
  background-color: #1a2431;
  border-color: #ffffff;
}

.page-link:disabled {
  color: #ffffff;
  background-color: #1a2431;
  border-color: #ffffff;
}

.card-hover:hover {
  border: 2px solid #bd6009;
  position: relative;
  z-index: 1;
  transition: border-color 0.3s ease;
}

.rem {
  padding: -100px;
}

.mt-10 {
  margin-top: 230px !important;
}

.btn-primary {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:hover {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:active {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:disabled {
  background-color: #bd6009;
  border-color: #bd6009;
}

.btn-primary:focus {
  background-color: #bd6009;
  border-color: #bd6009;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  z-index: 1;
  color: #ffffff;
  text-decoration: none;
  background-color: #1a2431
}

.accordion-item {
  background-color: #0e131a;
  color: #ffffff;
}

.accordion-button {
  background-color: #1b2838;
  color: #ffffff;
}

.accordion-button:not(.collapsed) {
  background-color: #1b2838;
  color: #ffffff;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* styles.css (archivo de estilos CSS) */
.avatar-container {
  position: relative;
  display: inline-block;
}

.steam-icon {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 25px;
  height: 25px;
  /* Otros estilos que desees aplicar al icono de Steam */
}

.btn-warning {
  color: #ffffff;
  background-color: #10141a !important;
  border: #ffffff solid 4px !important;
  padding-left: 200px !important;
  padding-right: 200px !important;
  padding-top: 10px !important;
  border-bottom: none !important;
  margin-bottom: 50px !important;
  border-left: none !important;
  border-right: none !important;
}

.activeborder {
  border: #bd6009 solid 4px !important;
  border-bottom: none !important;
  color: #bd6009;
  background-color: #1b2838 !important;
}